body {
    background-color: #FFD1DC; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gif-container {
    position: relative;
    display: inline-block;
}

.gif-container img {
    width: 250px;
    margin-bottom: 20px;
}

.head {
    position: relative;
    top: -40px; 
    left: 50%; 
    transform: translateX(-50%);
    color: black;
    font-size: 24px;
    margin: 0;
}

.menu button {
    width: 200px;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    background-color: #FFB6C1;
    color: rgb(255, 254, 254);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover {
    background-color: #ff8fab;
}

/* Play button style */
.play-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #FFB6C1;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.play-button:hover {
    background-color: #ff8fab;
}

.last-button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #ff69b4;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.last-button:hover {
    background-color: #ff1493;
}
